#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem;
  height: calc(100vh - 8rem);
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 3rem;
  height: 100%;

  .app-system {
    grid-column: 1;

    .app-system-input-wrapper {
      height: 100%;
      width: 100%;

      .app-system-input {
        height: 100%;
        resize: none;
      }
    }
  }

  .app-chat {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 21px;

    .app-messages {
      flex: 1;
      max-height: calc(100vh - 12rem - 67px);
      overflow: auto;
    }

    .app-messages::-webkit-scrollbar {
      width: 10px;
    }

    .app-messages::-webkit-scrollbar-track {
      border-radius: 6px;
      background: #121212;
    }

    .app-messages::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: #888;
    }

    .app-user-message {
      margin-top: auto;
      display: flex;
      gap: 1rem;
      align-items: end;

      .app-user-message-input-wrapper {
        flex: 1;

        .app-user-message-input {
          height: calc(50px - 0.562rem - 2px);
        }
      }

      .app-user-message-button {
        height: 50px;
      }
    }
  }

  .app-settings {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}