#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem;
  height: calc(100vh - 8rem);
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 3rem;
  height: 100%;

  .app-system {
    grid-column: 1;

    .app-system-input {
      height: 100%;
      width: 100%;
    }
  }

  .app-chat {
    grid-column: 2;
    display: flex;
    flex-direction: column;

    .app-messages {
      flex: 1;
    }

    .app-user-message {
      display: flex;
      gap: 1rem;
      align-items: end;

      .app-user-message-input {
        flex: 1;
      }

      .app-user-message-button {
        height: 50px;
      }
    }
  }

  .app-settings {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}