.chat-message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.chat-message:first-child {
  margin-top: 0;
  padding-top: 0;
}

.chat-message-author {
  font-weight: bold;
  color: #EFEFEF;
  font-size: 18px;
}

.chat-message-content {
  margin-top: 5px;
  color: #CDCDCD;
  font-size: 16px;
}

.chat-message-content--writing {
  font-style: italic;
}